.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}


#meteor-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease;
}

.custom-cursor:hover {
    transform: scale(1.5);
}